# Python
*.py linguist-language=Python

# TypeScript / TSX (React)
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript

# C#
*.cs linguist-language=C#

# Jupyter Notebooks
*.ipynb linguist-language=Jupyter Notebook

# Docker
Dockerfile linguist-language=Dockerfile
*.dockerfile linguist-language=Dockerfile

# Ignore CSS from language stats
*.css linguist-documentation

# Ignore Jupyter notebooks from language stats
*.ipynb linguist-documentation