# Visual Studio
.vscode/
bin/
obj/


# Python
__pycache__/
*.pyc
.env
.venv/
yolov10n.pt
my_model.onnx
simple-exploration-notebook-personalized-medicine.ipynb
.pytest_cache/
# Node
node_modules/
dist/


# Others
.DS_Store
.vscode