version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: OncoMind.Api/Dockerfile
    ports:
      - "5001:8080"
    networks:
      - onco
    depends_on:
      - ml

  ml:
    build:
      context: ./oncomind-ml
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - onco

  frontend:
    build:
      context: ./oncomind-frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    networks:
      - onco
    depends_on:
      - api
      - ml

networks:
  onco:
