.sign_page_container {
     width: 100vw;
     height: 100vh;
     background: linear-gradient(180deg,
               rgba(18, 22, 36, 0.85),
               rgba(10, 12, 20, 0.95));
     position: relative;
}

.form-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     /* 5 gleich breite Spalten */
     grid-template-rows: repeat(1, 1fr);
     /* 10 automatische Zeilen */
     gap: 20px;
     width: 50%;
     grid-row: auto;
     justify-content: first baseline;
}


.settings-card {
     width: 100%;
     background-color: var(--dx-theme-background-color);
     border: 1px solid rgba(255, 255, 255, 0.08);
     padding: 40px;
     border-radius: 4px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     transition: 0.4s;
}

.card-title {
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 20px;
}

/* ----- GRID ----- */
.settings-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px 30px;
}

/* Full width items */
.field.full {
     grid-column: 1 / 3;
}

.field {
     display: flex;
     flex-direction: column;
}

.field label {
     font-size: 13px;
     margin-bottom: 6px;
     font-weight: 500;
     color: #555;
}

/* ----- BUTTON BAR ----- */
.settings-actions {
     margin-top: 20px;
     display: flex;
     width: 225px;
     height: 35px;
     gap: 15px;
     justify-content: flex-end;
}