.settings-page {
     max-width: 1100px;
     margin: 0 auto;
     padding: 30px;
}

.page-title {
     font-size: 26px;
     font-weight: 600;
     margin-bottom: 25px;
}

.page-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     /* 5 gleich breite Spalten */
     grid-template-rows: repeat(5, 1fr);
     /* 10 automatische Zeilen */
     gap: 20px;
     width: 100%;
     grid-row: auto;
     justify-content: first baseline;
}

/*
.settings-grid {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     5 gleich breite Spalten 
     grid-template-rows: repeat(1, 1fr);
     10 automatische Zeilen
     gap: 2px;
     grid-template-areas:"card2 card1 card3 card4" "card2 card1 card3 card4" "card2 card1 card3 card4";
     max-width: 1000px;
     max-height: 800px;
     width: 90%;
     margin: 1rem auto;
}
*/
/* ----- CARD ----- */
.settings-card {
     width: 100%;
     background-color: var(--dx-theme-background-color);
     border: 1px solid rgba(255, 255, 255, 0.08);
     padding: 40px;
     border-radius: 4px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     transition: 0.4s;
}

.card-title {
     font-size: 18px;
     font-weight: 600;
     margin-bottom: 20px;
}

/* ----- GRID ----- */
.settings-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px 30px;
}

/* Full width items */
.field.full {
     grid-column: 1 / 3;
}

.field {
     display: flex;
     flex-direction: column;
}

.field label {
     font-size: 13px;
     margin-bottom: 6px;
     font-weight: 500;
     color: #555;
}

/* ----- BUTTON BAR ----- */
.settings-actions {
     margin-top: 20px;
     display: flex;
     gap: 15px;
     justify-content: flex-end;
}