

#top_infos
{
     position: relative;
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 15vh;
     border-bottom: 1px solid var(--border);
}

.charts
{
     position: relative;
     display: flex;
     flex-direction: row;
     padding: 50px;
     justify-content: center;
     width: 100%;
     height: 65vh;
     border-bottom: 1px solid var(--border);
}