.sign_page_container {
     width: 100vw;
     height: 100vh;
     padding: 200px;
     gap: 100px;
     justify-content: center;
     background: linear-gradient(180deg,
               rgba(18, 22, 36, 0.85),
               rgba(10, 12, 20, 0.95));
}

.sign_page_title
{
     font-size: 5.3rem;
     position: relative;
     bottom: 120px;
}

.form_title
{
     font-size: 2.3rem;
     position: relative;
     bottom: 20px;
}

.form-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     /* 5 gleich breite Spalten */
     grid-template-rows: repeat(1, 1fr);
     /* 10 automatische Zeilen */
     align-items: center;
     gap: 20px;
     width: 50%;
     min-height: 400px;
     grid-row: auto;
     justify-content: first baseline;
}


.panel {
     position: relative;
     background: linear-gradient(180deg,
               rgba(18, 22, 36, 0.85),
               rgba(10, 12, 20, 0.95));
     backdrop-filter: blur(16px);
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-top: 2px solid rgba(92, 177, 246, 0.4);
     border-radius: 24px;
     padding: 3rem;
     width: 100%;
     height: 120%;
     align-items: center;
     /* Info left, Form right */
     gap: 4rem;
     box-shadow: 0 12px 32px rgba(0, 0, 0, 0.4);
     animation: fadeUp 0.8s ease forwards;
}