#top_infos {
     position: relative;
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: flex-start;
     height: 15vh;
     gap: 20px;
     padding: 20px;
     border-bottom: 1px solid var(--border);
}

.charts {
     position: relative;
     display: flex;
     flex-direction: row;
     padding: 50px;
     justify-content: center;
     width: 100%;
     height: 65vh;
     border-bottom: 1px solid var(--border);
}

.gradient-cards {
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 10px;
     width: 14rem;
     height: 6rem;
}

.gradient-cards:nth-child(1) {
     background: linear-gradient(90deg, #9CECFB 0%, #65C7F7 50%, #0052D4 100%);
}

.gradient-cards:nth-child(2) {
     background: linear-gradient(90deg, #DCE35B, #45B649);
}

.gradient-cards:nth-child(3) {
     background: linear-gradient(90deg, rgb(23, 121, 241) 0%, rgba(47, 17, 241, 0.885) 50%, rgb(235, 7, 37) 100%);
}

.gradient-cards:nth-child(4) {
     background: linear-gradient(90deg, rgb(23, 121, 241) 0%, rgba(47, 17, 241, 0.885) 50%, rgb(235, 7, 37) 100%);
}

.gradient-cards>p {
     font-size: 1.4rem;
}

.gradient-cards>code {
     position: relative;
     top: 20px;
     font-size: 1.2rem;
}

.plots {
     position: relative;
     display: flex;
     flex-direction: row;
     padding: 50px;
     gap: 10px;
     justify-content: center;
     width: 100%;
     height: fit-content;
     border-bottom: 1px solid var(--border);
}

.plot_images {
     width: fit-content;
     height: 200px;
}

image {
     position: relative;
     width: 100%;
}

.image_slider {
     border-radius: 5px;
     overflow: hidden;
     width: 650px;
     height: 420px;
     box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
}

.image_slider .images {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

.image_slider .images img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: contain;
     opacity: 1;
     transform: scale(1);
     transition: all 0.5s ease-in-out;
}

.button_prev,
.button_next {
     position: absolute;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     font-family: "VVDS Fifties SExp Thin";
     font-optical-sizing: auto;
     font-weight: 100;
     font-size: 1rem;
     font-style: normal;
     letter-spacing: 0.5px;
     padding: 14px 28px;
     cursor: pointer;
     text-decoration: none;

     /* === Dark/Blue Theme === */
     color: var(--bg);
     /* slate-300 */
     background-color: var(--primary);
     /* slate-800 */

     /* === Brutalist Shape & Border === */
     border-radius: var(--border-radius-l);
     border: 1px solid var(--primary);
     /* === The Core Brutalist Effect === */
     /*box-shadow: 4px 4px 0px #0f172a; */
     /* slate-950 */
     transition-property: background-color, border-color, box-shadow, border-radius, color, transform;
     transition-duration: 0.3s;
     transition-timing-function: ease-out;
     /* Default curve */

     /* Remove default browser button styling */
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     top: 50%;
     transform: translateY(-50%);
     z-index: 10;
}

.button_next {
     right: 0;
}
.button_prev {
     left: 0;
}
.button_next:hover,
.button_prev:hover {
     border-radius: calc(var(--border-radius-l) + 4px);
     background-color: var(--primary-hover);
     /* A slightly lighter background */
     border-color: var(--primary-hover);
     color: var(--text);
     /* A slightly lighter text */
     transition: 0.3s ease-out;
}