/* components/Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--bg-dark);
  border: var(--border-main);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-main);

  /* Make it stick to the top */
  position: sticky;
  top: 1rem;
  /* Add some margin from the top */
  margin: 1rem;
  /* Add margin to show it's a "block" */
  z-index: 100;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "VVDS Fifties Exp SBold";
  text-transform: uppercase;
  color: var(--text-heading);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}


.navbar-links a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  padding: 12px;
  letter-spacing: 0.5px;
  transition: 0.3s ease-out;
}

.navbar-links a:hover {
  border-color: #60a5fa;
  border-radius: 16px;
  transition: 0.3s ease-out;
  color: var(--accent-blue);
  /* Use our medical accent color */
}

.navbar-cta {
  /* This space is for the button */
}