.divider {
     background: rgba(255, 255, 255, 0.26);
     padding: 1px;
     width: 90vw;
     border-radius: 8px;
     color: var(--text);
     overflow: auto;
}

.research-page-title {
     font-size: 5.4rem;
}

.information-section {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     /*background: linear-gradient(90deg, #192031 0%, #0c0d10 50%, #060607 100%);*/
     background: transparent;
     border: 1px solid rgba(255, 255, 255, 0.26);
     width: 95vw;
     height: 65vh;
     padding: 20px;
     gap: 5rem;
     border-radius: 40px;
}

.information-section>div {
     width: 100%;
     height: 95%;
     justify-content: center;
     align-items: center;
     background: linear-gradient(180deg,
               #111212 0%,
               #212223 100%);

     /* Or a semi-transparent version */
     /* background: linear-gradient(180deg, rgba(60, 85, 222, 0.8) 0%, rgba(74, 144, 226, 0.8) 100%); */
     border: 1px solid rgba(163, 163, 163, 0.324);
     border-radius: 12px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     color: white;
     /* Ensure text is white */
     border-radius: 32px;
     transition: 0.2s ease-in-out;
}

.information-section>div:hover {
     transform: translateY(-2px);
     transition: 0.2s ease-in-out;
     border-color: #fff;
}

.research-card-images {
     width: 90%;
     height: 80%;
     border-radius: 20px;
}

.title_for_sections {
     font-size: 24px;
     font: optional;
     color: hsl(0, 1%, 73%);
}

.research_container>p {
     font: var(--p);
}