fastapi
uvicorn[standard]
numpy
pandas
scikit-learn
torch
torchvision
ultralytics
opencv-python
scikit-image
tifffile
openslide-python
biopython
py3Dmol
rdkit
pyvista
python-multipart
pytest
entrezpy
